:root {
    --main-color: #3498db;
    --secondary-color: #cc2e2e;
    --font-size-large:24px;
}
.header{
    position: fixed;
    top: 0;
    
    width: 100%;
    padding: 10px;
    text-align: center;
    
}
.footer{
    position: relative;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.intro{
    font-size: var(--font-size-large);
    color: var(--main-color);
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    font-weight: bolder;
    
}
.flex-container{
    display: flex;
    justify-content: space-around;

}
.flex-item{
    padding: 10px;
    flex: 1;
    border-radius: 10px;
    color: white;
    text-align: center;

}
.flex-item:nth-child(1) {
    background-color: #f80707;  /* Light red */
}

.flex-item:nth-child(2) {
    background-color: #0429fb;  /* Yellowish orange */
}

.flex-item:nth-child(3) {
    background-color: #1f8828;  /* Green */
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
}
.grid-item{
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.relative-container{
    position: relative;
    background-color: var(--main-color);
    padding: 2% 0 2% 5px;
    
    
    

}
.absolute-box{
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--secondary-color);
    padding: 5px;
}
h2{
    font-size: var(--font-size-large);
}
